<?doctype html?>
<html ng-app="TintoBindTest">
	<head>
		<title>Test of tinto-bind</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
		<script type="text/javascript" src="../tinto-bind.js"></script>
		<script type="text/javascript" src="tinto-bind-test.js"></script>

		<style>
			body {font-family: Tahoma; font-size: 10pt; margin: 20px 100px;background:#eee;}
			
			h1 {color: #666;}
			.feed {display: table; width: 100%;border: 1px solid #999;background: white}
			.feed > * { display: table-row;}
			.feed > * > * {display: table-cell; padding: 5px; border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;}

			.second {background: #f5f5f5;}
			.changed {font-weight:bold;}
		</style>
	</head>

	<body ng-controller="TintoBindTestController" ng-init="mode='angular'">
		<div>
			<button ng-click="mode='angular'">Angular</button>
			<button ng-click="mode='tinto'">Tinto</button>
			| 
			Watchers {{watchers}}
			<span style="float:right" ng-init="nrows=rows">Rows: <input type="number" ng-model="nrows"/> <button ng-click="rows=nrows">set</button></span>
		</div>


		<div ng-if="mode=='angular'">
			<h1>Angular</h1>
			<div class="box" id="test-table">
				<div class="feed">
					<div ng-repeat="item in (feed | orderBy: 'id') track by item.id" ng-click="editItem(item)" 
						ng-class="{second: $index % 2, changed: item['property1'] == 'HAHA'}">
						<span><img style="height:20px" ng-src="{{picture}}"/></span>
						<span ng-repeat="k in item.properties" ng-bind="k"></span>
						<a ng-href="http://www.google.com?q={{item.id}}"><span ng-bind-html="htmlTest"></span></a>
					</div>
				</div>
			</div>	
		</div>

		<div ng-if="mode=='tinto'">
			<h1>Tinto</h1>
			<div class="box" id="test-table">
				<div class="feed">
					<div ng-repeat="item in (feed | orderBy: 'id') track by item.id" ng-click="editItem(item)" tinto-watch="item.when"
						tinto-class="{second: $index % 2, changed: item['property1'] == 'HAHA'}">
						<span><img style="height:20px" tinto-src="[[picture]]"/></span>
						<span ng-repeat="k in item.properties" tinto-bind="k"></span>
						<a tinto-href="http://www.google.com?q=[[item.id]]"><span tinto-bind-html="htmlTest"></span></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
